@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');
 

body {  
  font-family: 'Akaya Kanadaka',Helvetica, sans-serif;
}
#logo .logo_p img{
    width: 80px;
    height: 80px;
    transition: .3s;
}
#logo .logo_p img:hover{
    transform: scale(1.7);
    transition: .3s;
}
#main-preguntas{
    display: flex;
    margin-top: 310px;
    margin-bottom: 100px;
    align-items: center;
    justify-content: center;
}
.faq-container {    
  max-width: 800px;
  /* margin: 50px auto 0 auto; */
  text-align: justify;
  padding: 2rem;
}
.faq-container h2 {
  margin-bottom: 50px;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  color: #364f6b;
}
details { 
  background-color: #F7C00033;
  width: 100%;
  margin-bottom: 1rem;   
  border-radius: 8px;  
  border: 1px solid #d8e0e9;
  color: #364f6b;
  position: relative;  
}
details summary {  
  font-weight: 400;
  font-size: 1.25rem;
  padding: 1rem;
  cursor: pointer;
  list-style: none;
}
details p {
  padding: 1rem;
  margin: 0 1rem 1rem 1rem;
  background: #f6f8fa;
  border-left: 2px solid #364f6b;
  border-radius: 10px;
}

details:hover,
details[open] {
  box-shadow: 5px 5px 15px #d9d9d9;
}

details[open] {
  background: #F7C00033;
}

details[open] summary {
  font-weight: 600;
}

details summary::after {
  position: absolute;
    content: "👇";    
    font-size: 1.75rem;
    top: 10px;
    right: 16px;
}

details[open] summary::after {
  -webkit-animation: rotate 0.6s ease-in-out both;
          animation: rotate-emoji 0.6s ease-in-out both;
}

@-webkit-keyframes rotate-emoji {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
/* **************************************************** */
/* formulario testimonio */
.container-form{
    background-color: #FF7070;
     max-width: 595px;
    border-radius: 57px;
    margin-left: 27px;
    margin-right: 27px;
    text-align: center;
}
.text-form{
    margin: 21px 70px 31px 70px;
    font-family: 'Akaya Kanadaka', helvetica, sans-serif;
    font-size: 36px;
    color: #541690;
}
.form-input label{
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: 'Akaya Kanadaka', Helvetica, sans-serif;
}
.form-input input{
    width: 331px;
    font-family: 'Akaya Kanadaka', Helvetica, sans-serif;
    padding: 10px;
    font-size: 17px;
    border-radius: 14px;
    border: none;
    height: 43px;
    margin-bottom: 36px;
}
.form-input textarea{
    width: 340px;
    height: 180px;
    font-family: 'Akaya Kanadaka', Helvetica, sans-serif;
    padding: 10px;
    font-size: 17px;
    border-radius: 14px;
    border: none;
    margin-bottom: 30px;
}
/* boton */
.submit-upload > button {
    background-color: #6A478B;
    margin-bottom: 16px;
    border: none;
    padding: 10px;
    border-radius: 11px;
    font-family: 'Akaya Kanadaka', Helvetica, sans-serif;
    font-size: 20px;
    color: #FFFFFF;
}
/* query responsive del formulario */
@media screen and (max-width: 1024px){
    .submit-upload > button {
        font-size: 14px;
    }
}
@media screen and (max-width: 920px){
    #main-preguntas{
        display: block;
        margin-top: 310px;
    }
    #card-testimonio {
        display: grid;
        grid-template-columns: repeat(2,50%);
        margin-top: 280px;
        justify-items: center;
    }
    .container-form {
        max-width: 595px;
        margin-left: 15%;
    }
    #form-testimonio {
        margin-top: 77px;
    }
}
@media screen and (max-width:768px){
    .container-form {
        max-width: 400px;
        margin-left: 23%;
        margin-right: 10%;
    }
    .form-input label {
        font-size: 15px;
    }
    .form-input input {
        width: 240px;
        height: 35px;
    }
    .form-input textarea {
        width: 240px;
        height: 140px;
    }
    .submit-upload > button {
        padding: 8px;
        font-size: 13px;
    }
}
@media screen and (max-width: 400px){
    .form-input textarea, .form-input input {
        width: calc(100% - 40px);
        overflow-x:hidden;
    }
    .text-form {
        font-size: 20px;
        margin: 0px 15px 31px 15px;
        padding-top: 10px;
    }
}
@media screen and (max-width: 400px){
    #form-testimonio {
        margin-top: 77px;
    }
}